nav {
    height: 80px;
    font-size: 1.2rem;
    background: linear-gradient(to right, rgb(5, 156, 237), #70b7e7);
}

.search_button {
    background-color: rgb(76, 194, 18);
}

.nav_text {
    color: aliceblue;
}

.title {
    font-size: 1.7rem;
}

.dropdown-menu {
    transition: opacity 0.2s ease;
    pointer-events: auto;
}

/* dropdown-hover behavior */
.dropdown-hover:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* Optional: aligns menu with parent item */
}